/********************\
  $Layout ☰
\********************/

/*Damos estilos al menú*/
.nav {
    position: absolute;
    width: 300px;
    height: 100vh;
    top: 0;
    left: -320px; /*Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos sobre la hamburguesa*/
    padding-top: 5px;
    background-color: whitesmoke;
    border-right: 2px solid white;
    transition: all .5s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
}
/*Estilos de los li del menú*/
.nav__item {
    display: block;
    width: 96%;
    margin: 0 auto;
    line-height: 3;
    position: relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: dimgray;
    text-decoration:none;
    padding:0px 20px;
}
.nav__item:hover {
    text-decoration:none;
    background-color:Menu;
}

/*colocamos el triangulo negro a la pestaña del menú dónde nos encontramos actualmente*/
.current:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute; /*Le damos al before una posición absoluta relativa al li que lo contiene*/
    border-top: 10px solid transparent;
    border-left: 15px solid #34a6e8;
    border-bottom: 10px solid transparent;
    top: 8px;
    right: -23px; /*Lo posicionamos -15px a la derecha de su contenedor*/
    z-index: 4; /*le otorgamos un z-index alto para que se posicione arriba de otros elementeos*/
}
/*Estos son los estilos de la hamburguesa del menú que abre y cierra el mismo*/
.menu-toogle {
    position: absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
    width: 35px;
    line-height: 1.1;
    text-align: center;
    top: 6.5px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
    left: 8px;
    border-radius: 3px;
    background-color: transparent;
    transition: all .5s ease; /*Añadimos una transición para que realice un desplazamineto suave*/
    z-index: 10;
    cursor: pointer;
}
    /*Añadimos la hamburguesa y le damos unos estilos*/
    .menu-toogle::before {
        content: "☰";
        font-size: 28px;
        color: white;
    }

/*Estos son los estilos que le dan la funcionalidad al menú*/
/*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/
.checkbox {
    display: none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
}

    .checkbox:checked ~ .nav {
        left: 0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
        position: fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
    }

    .checkbox:checked ~ .container {
        margin-left: 200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
    }

    .checkbox:checked ~ .menu-toogle {
        display:none;
    }

    .checkbox:checked ~ #red {
        cursor:pointer;
    }

.titulo {
    border-bottom:1px solid #34a6e8;
    display: block;
    width: 99%;
    margin: 0 auto;
    line-height: 3;
    position: relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: dimgray;
    text-decoration:none;
    padding:0px 20px;

}